{{- if .Values.ingress.enabled -}}
{{- $fullName := include "sonatype-nexus.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
{{- if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "sonatype-nexus.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  tls:
  - hosts:
    - nexus.{{ .Values.baseDomain }}
    - docker.{{ .Values.baseDomain }}
    secretName: {{ .Values.ingress.tls.secretName }}
  rules:
  - host: nexus.{{ .Values.baseDomain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: {{ $fullName }}
          servicePort: {{ .Values.nexus.nexusPort }}
  - host: docker.{{ .Values.baseDomain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: {{ $fullName }}
          servicePort: {{ .Values.nexus.dockerPort }}
  {{- end }}
