# Default values for nexus.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

baseDomain: domain.com

# certEmail is a valid email address used by Let's Encrypt. It does not have to be at the baseDomain.
certEmail: certadmin@domain.com

replicaCount: 1

image:
  repository: sonatype/nexus3
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "3.27.0"

nexus:
  storageSize: 10Gi
  # The ports should only be changed if the nexus image uses a different port
  dockerPort: 5000
  nexusPort: 8081

service:
  type: ClusterIP

ingress:
  enabled: true
  annotations:
    # kubernetes.io/tls-acme: "true"
    kubernetes.io/ingress.class: nginx
    nginx.org/hsts: "false"
    # fixes "413 Request Entity Too Large" error when pushing docker images
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    # "letsencrypt-staging" or "letsencrypt-prod"
    cert-manager.io/cluster-issuer: letsencrypt-staging
  tls:
    secretName: tls-secret

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext:
  runAsUser: 200
  runAsGroup: 2000
  fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
